__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
build/
dist/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.ipynb_checkpoints

.venv*/
env/
venv/
ENV/

output/
outputs/
results/
wandb/
runner_logs/
offload/
*.log

*.pt
*.pth
*.pth.tar
*.ckpt

data
*weights*
.cache/
.cache_weight/
tmp*.py
zinfo.py

.idea/
.vscode/
.DS_Store
